<a href="https://colab.research.google.com/github/filchyboy/Personal-Responsibility-Oil-Spills/blob/master/Oil%2C_Miles_Driven%2C_Price_of_Fuel_Analyzation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Oil Spills and Driving in America

[NOAA Inicident Reports](https://incidentnews.noaa.gov/raw/index)

In [0]:
import pandas as pd

In [0]:
oil_spills = pd.read_csv("https://raw.githubusercontent.com/filchyboy/noaa-oil-spills/master/incidents.csv")
miles_driven = pd.read_csv("https://raw.githubusercontent.com/filchyboy/noaa-oil-spills/master/Miles%20Driven%20USA%20-%20Sheet1.csv")
pipeline_accidents = pd.read_csv("https://raw.githubusercontent.com/filchyboy/noaa-oil-spills/master/database.csv")

In [3]:
oil = oil_spills['max_ptl_release_gallons'].sum()
print(f"Potential Oil Released by Gallon",oil)

Potential Oil Released by Gallon 2381350970.0

In [0]:
oil_spills = oil_spills.drop(columns=['commodity','measure_skim','measure_shore','measure_bio','measure_disperse','measure_burn','id','tags','name','location','lat','lon','posts','description','threat'])

In [0]:
oil_spills = oil_spills[~oil_spills['max_ptl_release_gallons'].isnull()]

In [6]:
oil_spills.shape

(2149, 2)

In [7]:
oil_spills.head(2149)

       open_date  max_ptl_release_gallons
2     2019-12-18                   1000.0
3     2019-12-17                   2000.0
5     2019-12-15                  42000.0
9     2019-12-09                  15000.0
10    2019-12-04                    630.0
...          ...                      ...
3817  1968-12-13                 588000.0
3818  1968-06-13               14000000.0
3819  1968-03-07                1550000.0
3820  1968-03-03                2940000.0
3821  1967-03-18               36100000.0

[2149 rows x 2 columns]

In [8]:
miles_driven.head()

   Year  Trillion Miles
0  1971         1.12817
1  1972         1.20090
2  1973         1.27686
3  1974         1.30051
4  1975         1.29783

In [10]:
pipeline_accidents.head()
pipeline_accidents.shape

(2795, 48)